// COLOUR
//
// Colour variables and settings.

$black: hsla(240, 10%, 20%, 1);
$white: hsla(0, 0%, 100%, 1);
$red: hsla(360, 100%, 50%, 1);
$green: hsla(120, 100%, 50%, 1);
$blue: hsla(240, 100%, 50%, 1);
