// TYPOGRAPHY
//
// Typography variables and settings.

// Font Sizes

$font-sizes: (
    'small': (
        'base-font-size': 16,
        'font-scale': 1.2
    ),
    'medium': (
        'breakpoint': 'medium',
        'base-font-size': 18,
        'font-scale': 1.25
    ),
    'large': (
        'breakpoint': 'large',
        'base-font-size': 20,
        'font-scale': 1.3
    )
);

// Font Families

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-monospace: 'Space Mono', monospace;

// Font Weights

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
