// LAYOUT
//
// A grid-like layout system built with flexbox.

@use 'settings/spacing';

.o-layout {
    display: flex;
    flex-wrap: wrap;
    margin-left: -(spacing.$small);
    margin-top: -(spacing.$small);
}

// Item

.o-layout__item {
    padding-left: spacing.$small;
    padding-top: spacing.$small;
    width: 100%;
}
