// PAGE
//
// Base styles for page-level elements.

@use 'settings/colour';
@use 'settings/type';
@use 'tools/font';

html {
    @include font.base;
    background-color: colour.$white;
    color: colour.$black;
    font-family: type.$family-sans-serif;
    font-weight: type.$weight-regular;
    line-height: 1.5;
}
