// BASE-FONT-SIZE
//
// Generates a responsive base font-size.

@mixin base-font-size {

    // Loop over each size in $font-sizes.
    @each $size, $map in $font-sizes {

        // Get the breakpoint and base font-size.
        $breakpoint: map-get($map, 'breakpoint');
        $base-font-size: map-get($map, 'base-font-size');

        // Generate the font-size.
        $font-size: percentage($base-font-size / 16);

        // Check for breakpoints and set the font-size.
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include mq($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}
